<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>038DE4CB81F34A44A3564A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CD75A1849F46B4A3BD6F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A71F0B7A2F24EFF8DD3F31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9E1F9E65E949BA96AD8B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2126472CF9524871B0D80A54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0FBF3B739A49A59E0C908A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35F666468E38443AB35EAEE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7D975C66244336A91A2A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9EA0D93F164CAEB8B5E371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB4DFA8CF704790ACC5EA71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C5F35770FE34DC68647A0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA5E05C8B4E4B248E59C1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B9DFCFCFEAC44A68ABB2273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBB0E73E92D4083B531FA8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D7286833494B70BDF4C08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8506EEFC68E64810AF3BDCEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E899D0008F64E6686D103AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A83B963F4C40C49B0A6F74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA63C47E5A56405295FF517A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6DD0760B7914A2EB3F44F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD0F84FC3EB74EF9A90B6438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E774E8B995CA470D82A6AB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F01B80F2156A45F29B04DA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
